<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505998861423-m7olrou7fe9tuj6lbmibibamcb0ht3dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505998861423-m7olrou7fe9tuj6lbmibibamcb0ht3dn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>505998861423-0mhbenhm3dcd2qqm7o98kf31rorvo16b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAq0bpp6yr4ZC8tJbeT6v6EqTf08aosUnU</string>
	<key>GCM_SENDER_ID</key>
	<string>505998861423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.getjourn.journai</string>
	<key>PROJECT_ID</key>
	<string>auto-trip-guide-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-trip-guide-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505998861423:ios:7c613101465da5e1ded99a</string>
</dict>
</plist>