# ignore ALL .env files
*.env

# ignore ALL node_modules directories
**/node_modules/

# ignore .idea directory at the root
/.idea/

# ignore ALL .dart_tool directories
**/*.dart_tool/

# ignore specific log files
/server_for_mobile/combined.log
/server_for_mobile/src/combined.log
/server_for_mobile/errors.log

# ignore specific js file
/server_for_mobile/src/dist/db.js

**/dist/*