html {
  height: 180%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  letter-spacing: 2px;
}

.create-box {
  position: absolute;
  top: 85%;
  left: 55%;
  width: 800px;
  padding: 45px;
  transform: translate(-60%, -45%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.create-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.create-box .user-box {
  position: relative;
}

.create-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.create-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.create-box .user-box input:focus ~ label,
.create-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.create-box a {
  color: #03e9f4;
}

.create-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.create-box a span {
  position: absolute;
  display: block;
}

.user-des-box textarea {
  width: 100%;
  padding: 0px 5px;
  font-size: 16px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 30px;
  border: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-des-box textarea:focus ~ label {
  top: -10px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.user-des-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.user-des-box {
  position: relative;
}

#map {
  height: 220px;
  width: 100%;
  background: white;
}

#map,
#lng,
#lat {
  display: inline-block;
}

#lat {
  margin-left: 5%;
}

#lng,
#lat {
  margin-top: 2%;
}

#audio {
  margin-bottom: -7%;
}

#record_button {
  background-color: #fff;
  border-color: #fff;
  border-radius: 5px;
}

#record_label {
  margin-top: -65%;
  width: 160px !important;
}

#upload,
#audio {
  display: inline-block;
  margin-top: 10%;
}

#upload-audio {
  display: inline-block;
}

#record-audio {
  display: inline-block;
  margin-left: 1%;
}

#PoiName,
#longitude,
#latitude,
#source,
#language,
#shortDesc {
  unicode-bidi: plaintext;
}

#shortDesc {
  width: 100%;
  font-size: 16px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 30px;
  border: 1px solid #fff;
  outline: none;
  background: transparent;
  font-family: "Times New Roman";
}

#languages {
  margin-top: 40px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  width: 100%;
  background-color: #141e30;
  color: #fff;
}

.btn-file-upload {
  width: 120px;
  position: relative;
}

.btn-file-upload:after {
  content: attr(value);
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 0;
  width: 34%;
  height: 58%;
  background: #fff;
  color: rgb(12, 6, 6);
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 2;
}
