body {
  background: #eee;
  letter-spacing: 2px;
  min-height: 100vh;
}

a:hover,
a:active {
  text-decoration: none;
}

input[type="text"],
select {
  outline: none;
}

.col-xs-1 {
  padding: 0;
}

h1 {
  font-family: "Arvo", sans-serif;
  color: #f5f3f3;
  transform: translate(-0%, -700%);
}

header.container-fluid {
  margin: 0;
  background: linear-gradient(#141e30, #243b55);
  box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.4);
  height: 101vh;
  min-height: 150px;
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 0 50px;
  height: 20vh;
}

ul {
  padding: 0;
}

li {
  letter-spacing: 0;
  padding: 30px;
  list-style: none;
  min-height: 200px;
  background: #fff;
  margin: 50px auto;
  text-align: left;
  -webkit-transition: box-shadow 0.2s ease-out 0.2s;
  -moz-transition: box-shadow 0.2s ease-out 0.2s;
  -o-transition: box-shadow 0.2s ease-out 0.2s;
  transition: box-shadow 0.2s ease-out 0.2s;
  word-spacing: 2px;
}

li > h3 {
  margin-top: 0;
  color: #243b55;
  line-height: 2;
}

li > p {
  color: #666;
  line-height: 2;
}

input {
  padding: 0;
  border-radius: 0;
  border: none;
  font-size: 20px;
  color: #f5f3f3;
  background: none;
  letter-spacing: 1px;
  word-spacing: 10px;
  font-family: "Arvo", sans-serif;
  padding: 0;
  line-height: 25px;
}

#searchBox {
  padding-top: 40vh;
}

button {
  background: none;
  border: none;
}

.form {
  padding: 10px 0;
  padding-right: 15px;
  border: 3px solid #f4fafa;
  transform: translate(-0%, -300%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.form.col-xs-12 {
  padding-left: 0;
}

.glyphicon {
  color: #f4fafa;
  font-size: 20px;
  line-height: 25px;
}

.glyphicon-search {
  cursor: pointer;
}

.bar {
  vertical-align: super;
  font-weight: 700;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

li:hover {
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.1);
}

::-webkit-input-placeholder {
  color: #bbb;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #bbb;
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbb;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bbb;
  opacity: 1;
}

#mainBody {
  font-family: "Montserrat", sans-serif;
}

/*********media query starts ***********/

@media screen and (max-width: 420px) {
  #searchBar,
  .glyphicon {
    font-size: 16px;
  }

  h1 {
    font-size: 28px;
  }
}

.filter-switch label {
  cursor: pointer;
}
.filter-switch-item input:checked + label {
  color: inherit;
}
.filter-switch-item input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}

.option {
  color: rgb(252, 252, 252);
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #03e9f4;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

#map {
  height: 450px;
  width: 100%;
  transform: translate(-0%, -45%);
  background: white;
}

/* text cursor position according language */
#searchBar {
  unicode-bidi: plaintext;
}

.button {
  white-space: pre-wrap;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
