<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141959691870-me9msoi1adrn75p22klneo9h962sms15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141959691870-me9msoi1adrn75p22klneo9h962sms15</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>141959691870-bgt7711rfbosifs7tv4n1qoesfmlvte6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_4r7EKviQP64pCwl5VuM-JSjwKtQsI7E</string>
	<key>GCM_SENDER_ID</key>
	<string>141959691870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.codex.fluttersignin</string>
	<key>PROJECT_ID</key>
	<string>auto-trip-guide</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-trip-guide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141959691870:ios:186e4990c6a1fd45b17ecf</string>
</dict>
</plist>